{% trans_default_domain 'FOSUserBundle' %}

<h2>Zmiana hasła</h2>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_errors(form) }}
    <table>
        <tr>
            <td>{{ form_label(form.current_password) }}</td>
            <td>
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.plainPassword.first) }}</td>
            <td>
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.plainPassword.second) }}</td>
            <td>
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="{{ 'change_password.submit'|trans }}" /></td>
        </tr>
    </table>
{{ form_end(form) }}
