{# templates/add-user/add-user.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block record %}
    <h2>Rejestracja</h2>
    <p>Rejestracja w systemie powoduje dodanie nowego użytkownika. Login i hasło mogą składać się wyłącznie z liter i cyfr. Nie mogą zawierać polskich znaków. Proszę pamiętać, aby wpisać trudne do odgadnięcia hasło. Należy podać koniecznie istniejący adres e-mail, na który wyślemy kod aktywacyjny. Podanie błędnego adresu e-mail uniemożliwi aktywację konta.</p>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <table>
            <tr>
                <td>{{ form_label(form.name) }}</td>
                <td>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.surname) }}</td>
                <td>
                    {{ form_errors(form.surname) }}
                    {{ form_widget(form.surname) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.login) }}</td>
                <td>
                    {{ form_errors(form.login) }}
                    {{ form_widget(form.login) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.password) }}</td>
                <td>
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.repeatPassword) }}</td>
                <td>
                    {{ form_errors(form.repeatPassword) }}
                    {{ form_widget(form.repeatPassword) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.email) }}</td>
                <td>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.repeatEmail) }}</td>
                <td>
                    {{ form_errors(form.repeatEmail) }}
                    {{ form_widget(form.repeatEmail) }}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    {{ form_errors(form.accept) }}
                    {{ form_widget(form.accept) }} {{ form_label(form.accept) }} <a href="{{ url('mainpage') }}regulamin">regulamin</a>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ form_widget(form.save) }}</td>
            </tr>
        </table>
    {{ form_end(form) }}
{% endblock %}
