{# templates/edit-site/edit-site.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Edycja strony{% endblock %}

{% block record %}
    <h2>Edycja strony</h2>
    <p>Edycja strony pozwala określić, czy ma być ona widoczna dla innych uczestników systemu. Można także zmienić jej nazwę lub w ogóle usunąć z systemu.</p>
    {% if message %}
        {{ message|raw }}
    {% endif %}
    {{ form_start(form) }}
        <p>Dane strony www:</p>
        <table>
            <tr>
                <td>Link:</td>
                <td><a href="{{ url('mainpage') }}link?www={{ url }}">{{ name }}</a></td>
            </tr>
            <tr>
                <td>Nazwa:</td>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <td>Url:</td>
                <td>{{ form_widget(form.url) }}</td>
            </tr>
            <tr>
                <td>Widoczna:</td>
                <td>{{ form_widget(form.visible) }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ form_widget(form.delete) }} Usuń stronę</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ form_widget(form.save, { 'label': 'Zatwierdź' }) }} {{ form_widget(form.reset, { 'label': 'Wyczyść' }) }}</td>
            </tr>
        </table>
    {{ form_end(form) }}
{% endblock %}
