{% trans_default_domain 'FOSUserBundle' %}

<h2>Rejestracja</h2>
<p>Rejestracja w systemie powoduje dodanie nowego użytkownika. Login i hasło mogą składać się wyłącznie z liter i cyfr. Nie mogą zawierać polskich znaków. Proszę pamiętać, aby wpisać trudne do odgadnięcia hasło. Należy podać koniecznie istniejący adres e-mail, na który wyślemy kod aktywacyjny. Podanie błędnego adresu e-mail uniemożliwi aktywację konta.</p>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}
    <table>
        <tr>
            <td>{{ form_label(form.name) }}</td>
            <td>
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.surname) }}</td>
            <td>
                {{ form_errors(form.surname) }}
                {{ form_widget(form.surname) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.username) }}</td>
            <td>
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.plainPassword.first) }}</td>
            <td>
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.plainPassword.second) }}</td>
            <td>
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(form.email) }}</td>
            <td>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                {{ form_errors(form.accept) }}
                {{ form_widget(form.accept) }} {{ form_label(form.accept) }} <a href="{{ url('main_page') }}regulamin">regulamin</a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="{{ 'registration.submit'|trans }}" /></td>
        </tr>
    </table>
{{ form_end(form) }}
