{# templates/admin-account/admin-account.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block record %}
    <h2>Admin</h2>
    <p>Strony do moderacji:</p>
    <table>
        {% if not adminSiteList %}
            <tr>
                <td colspan="2">Brak</td>
            </tr>
        {% else %}
            {% for adminSite in adminSiteList %}
                <tr>
                    <td><a href="{{ url('main_page') }}admin/strona,{{ adminSite.id }},akceptacja">{{ adminSite.name }}</a></td>
                    <td class="option"><a href="{{ url('main_page') }}admin/strona,{{ adminSite.id }},akceptacja">Edytuj</a></td>
                </tr>
            {% endfor %}
            {% if adminPageNavigator %}
                <tr>
                    <td colspan="2">{{ adminPageNavigator|raw }}</td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
{% endblock %}
