
<h3>Aktywacja konta {{ login }} w serwisie {{ serverDomain }}</h3>

Aby aktywować konto, otwórz w oknie przeglądarki url poniżej.<br />
<br />
{{ url }}/rejestracja,{{ login }},{{ key }}<br />
<br />
--<br />
{{ adminEmail }}
