
<h3>Zmiana hasła konta {{ login }} w serwisie {{ serverDomain }}</h3>

Aby zmienić hasło konta, otwórz w oknie przeglądarki url poniżej.<br />
<br />
{{ url }}/logowanie,{{ login }},{{ key }}<br />
<br />
--<br />
{{ adminEmail }}
