<h3>Aktywacja konta {{ login }}</h3>

Aby aktywować konto, otwórz w oknie przeglądarki url poniżej.<br />
<br />
<a href="{{ url }}/rejestracja/potwierdzenie/{{ key }}">{{ url }}/rejestracja/potwierdzenie/{{ key }}</a><br />
<br />
--<br />
SIECIQ
