{# templates/example/example.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block icon %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="css/bootstrap.min.css" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        {% if response.code == 200 and response.response.success %}
            <div class="alert alert-success">SUCCESS</div>
        {% else %}
            <div class="alert alert-danger">DEFEAT</div>
        {% endif %}
        {% if response.response.message %}
            <pre>{{ response.response.message|nl2br }}</pre>
        {% endif %}
        <h1>Request</h1>
        <div>
            {{ dump(data) }}
        </div>
        <h1>Response</h1>
        <div>
            {{ dump(response) }}
        </div>
    </div>
{% endblock %}
