{# templates/edit-user/edit-user.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Edycja użytkownika{% endblock %}

{% block record %}
    <h2>Edycja użytkownika</h2>
    <p>Proszę podać możliwie najpełniejsze dane, aby zapewnić jak najlepszy kontakt. Zmiana adresu e-mail spowoduje konieczność ponownej aktywacji konta. Jeśli nie chcą Państwo zmieniać adresu e-mail, proszę pozostawić dwa pola dotyczące zmiany adresu e-mail puste. Jeśli nie chcą Państwo zmieniać hasła, proszę pozostawić trzy pola dotyczące zmiany hasła puste.</p>
    {% if message %}
        {{ message|raw }}
    {% endif %}
    {{ form_start(form) }}
        <p>Dane użytkownika:</p>
        <table>
            <tr>
                <td>Imię:</td>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td>{{ form_widget(form.surname) }}</td>
            </tr>
            <tr>
                <td>Ulica:</td>
                <td>{{ form_widget(form.street) }}</td>
            </tr>
            <tr>
                <td>Kod pocztowy:</td>
                <td>{{ form_widget(form.postcode) }}</td>
            </tr>
            <tr>
                <td>Województwo:</td>
                <td>{{ form_widget(form.province) }}</td>
            </tr>
            <tr>
                <td>Miasto:</td>
                <td id="select1">{{ form_widget(form.city) }}</td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td>{{ form_widget(form.phone) }}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{ form_widget(form.email) }}</td>
            </tr>
            <tr>
                <td>Strona www:</td>
                <td>{{ form_widget(form.url) }}</td>
            </tr>
            <tr>
                <td>Opis:</td>
                <td>{{ form_widget(form.description) }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ form_widget(form.save, { 'label': 'Zatwierdź' }) }} {{ form_widget(form.reset, { 'label': 'Wyczyść' }) }}</td>
            </tr>
        </table>
        <p>Zmień e-mail:</p>
        <table>
            <tr>
                <td>Nowy e-mail:</td>
                <td>{{ form_widget(form.newEmail) }}</td>
            </tr>
            <tr>
                <td>Powtórz e-mail:</td>
                <td>{{ form_widget(form.repeatEmail) }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ form_widget(form.save2, { 'label': 'Zatwierdź' }) }} {{ form_widget(form.reset2, { 'label': 'Wyczyść' }) }}</td>
            </tr>
        </table>
        <p>Zmień hasło:</p>
        <table>
            <tr>
                <td>Login:</td>
                <td>{{ form_widget(form.login) }}</td>
            </tr>
            <tr>
                <td>Stare hasło:</td>
                <td>{{ form_widget(form.password) }}</td>
            </tr>
            <tr>
                <td>Nowe hasło:</td>
                <td>{{ form_widget(form.newPassword) }}</td>
            </tr>
            <tr>
                <td>Powtórz hasło:</td>
                <td>{{ form_widget(form.repeatPassword) }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ form_widget(form.save3, { 'label': 'Zatwierdź' }) }} {{ form_widget(form.reset3, { 'label': 'Wyczyść' }) }}</td>
            </tr>
        </table>
    {{ form_end(form) }}
{% endblock %}

{% block ajax %}
    <script type="text/javascript">
        function ajax(value) {
            $.post('{{ path('ajax_city-list') }}', {inData: value, inData2: {{ selectedCity }}}, function(response) {
                if (response.code == 100 && response.success) {
                    $('#select1').html(response.outData);
                }
            }, 'json');
        }

        $(document).ready(function() {
            $('#edit_user_form_province').change(function() {
                ajax(this.value);
            });
        });
    </script>
{% endblock %}
