{# templates/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block icon %}
    <link rel="icon" type="image/x-icon" href="{{ url('main_page') }}image/favicon.ico" />
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url('main_page') }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ url('main_page') }}css/rwd.css" />
    <link rel="stylesheet" type="text/css" href="{{ url('main_page') }}slider/slider.css" />
{% endblock %}

{% block body %}
    {% block menu %}
        <div id="menu">
            <nav>
                <ul>
                    <li{% if activeMenu == 'main-page' %} class="active"{% endif %}><a href="{{ url('main_page') }}">Główna</a></li>
                    {% if not is_granted("ROLE_USER") %}
                        <li{% if activeMenu == 'add-user' %} class="active"{% endif %}><a href="{{ url('main_page') }}rejestracja">Rejestracja</a></li>
                        <li{% if activeMenu == 'log-in-user' %} class="active"{% endif %}><a href="{{ url('main_page') }}logowanie">Logowanie</a></li>
                    {% else %}
                        <li{% if activeMenu == 'user-account' %} class="active"{% endif %}><a href="{{ url('main_page') }}konto">Konto</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li{% if activeMenu == 'admin-account' %} class="active"{% endif %}><a href="{{ url('main_page') }}admin">Admin</a></li>
                        {% endif %}
                        <li{% if activeMenu == 'log-out-user' %} class="active"{% endif %}><a href="{{ url('main_page') }}wylogowanie">Wylogowanie</a></li>
                    {% endif %}
                    <li{% if activeMenu == 'user-regulation' %} class="active"{% endif %}><a href="{{ url('main_page') }}regulamin">Regulamin</a></li>
                    <li{% if activeMenu == 'user-privacy' %} class="active"{% endif %}><a href="{{ url('main_page') }}prywatnosc">Prywatność</a></li>
                    <li{% if activeMenu == 'user-help' %} class="active"{% endif %}><a href="{{ url('main_page') }}pomoc">Pomoc</a></li>
                    <li{% if activeMenu == 'contact-form' %} class="active"{% endif %}><a href="{{ url('main_page') }}kontakt">Kontakt</a></li>
                    <li><a href="https://www.facebook.com/SIECIQ/">Lubię&nbsp;to!</a></li>
                </ul>
            </nav>
        </div>
    {% endblock %}

    {% block header %}
        <div id="header">
            <header>
                <h1><a href="{{ url('main_page') }}"><img src="{{ url('main_page') }}image/logo.png" width="180" height="36" alt="SIECIQ" /></a></h1>
                <div id="button">
                    <span><a href="http://www.naszfach.pl/"><img src="{{ url('main_page') }}image/banner.png" width="225" height="60" alt="" /></a></span>
                    <input type="button" name="show" value="Pokaż" onclick="document.location = '{{ url('main_page') }}pokaz';" />
                </div>
            </header>
        </div>
    {% endblock %}

    {% block slider %}
        <div id="slider">
            <div class="jssorshadow"></div>
            <div class="jssorloader"></div>
            <div id="slider1" class="jssorslider">
                <div data-u="loading" class="jssorload"></div>
                <div data-u="slides" class="jssorslide">
                    <div><a href="{{ url('main_page') }}regulamin"><img data-u="image" src="{{ url('main_page') }}slider/image/regulation.jpg" alt="Regulamin" /></a></div>
                    <div><a href="{{ url('main_page') }}pomoc"><img data-u="image" src="{{ url('main_page') }}slider/image/help.jpg" alt="Pomoc" /></a></div>
                    <div><a href="{{ url('main_page') }}kontakt"><img data-u="image" src="{{ url('main_page') }}slider/image/contact.jpg" alt="Kontakt" /></a></div>
                </div>
                <div data-u="navigator" class="jssornavigator">
                    <div data-u="prototype"></div>
                </div>
                <div data-u="arrowleft" class="jssorarrowleft"></div>
                <div data-u="arrowright" class="jssorarrowright"></div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <div id="content">
            <section>
                {%  block record %}{% endblock %}
            </section>
        </div>
    {% endblock %}

    {% block bottombar %}
        <div id="bottombar">
            <aside>
                <div class="bar">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="{{ url('main_page') }}">Główna</a></li>
                        <li><a href="{{ url('main_page') }}regulamin">Regulamin</a></li>
                        <li><a href="{{ url('main_page') }}pomoc">Pomoc</a></li>
                        <li><a href="{{ url('main_page') }}kontakt">Kontakt</a></li>
                    </ul>
                </div>
                <div class="bar">
                    <h2>Strony</h2>
                    <ul>
                        <li><a href="http://php.net/">PHP</a></li>
                        <li><a href="https://jquery.org/">jQuery</a></li>
                        <li><a href="http://www.kurshtml.edu.pl/">HTML</a></li>
                        <li><a href="http://www.w3schools.com/">W3Schools</a></li>
                    </ul>
                </div>
                <div class="bar">
                    <h2>Hosting</h2>
                    <ul>
                        <li><a href="https://pl.godaddy.com/">GoDaddy</a></li>
                        <li><a href="http://www.ovh.pl/">OVH</a></li>
                        <li><a href="http://www.aftermarket.pl/">AfterMarket</a></li>
                        <li><a href="http://www.klatka.pl/">Klatka</a></li>
                    </ul>
                </div>
                <div class="bar">
                    <h2>Linki</h2>
                    <ul>
                        <li><a href="http://www.naszfach.pl/">Nasz&nbsp;Fach</a></li>
                        <li><a href="http://www.webeeq.com/">WEBEEQ</a></li>
                        <li><a href="https://www.blogger.com/">Blogger</a></li>
                        <li><a href="https://www.google.com/adsense/">AdSense</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    {% endblock %}

    {% block footer %}
        <div id="footer">
            <footer>
                <p>Copyright 2018 by <a href="http://www.sieciq.pl/">SIECIQ</a></p>
            </footer>
        </div>
    {% endblock %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ url('main_page') }}slider/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url('main_page') }}slider/jssor.slider.mini.js"></script>
    <script type="text/javascript" src="{{ url('main_page') }}slider/slider.php?ss=2"></script>
    <script type="text/javascript" src="{{ url('main_page') }}js/script.js"></script>
    <script type="text/javascript" src="{{ url('main_page') }}js/cookies.js"></script>
{% endblock %}
